

<section id="work-process" class="work-process">
    <div class="container">

        <div class="section-title aos-init aos-animate" data-aos="fade-up">
            <h2>History</h2>
            <p>The Province of Nueva Vizcaya, which was named after the people living in the coast of Mar de Vizcaine in Spain, was a part of the vast “Territorio de Missionares” of the Spanish- controlled government of Cagayan.  The territory covered the eastern half of Northern Luzon, from Nueva Ecija to Aparri, including the Batanes Islandsince of Nueva Vizcaya, which was named after the people living in the coast of Mar de Vizcaine in Spain, was a part of the vast “Territorio de Missionares” of the Spanish- controlled government of Cagayan.  The territory covered the eastern half of Northern Luzon, from Nueva Ecija to Aparri, including the Batanes Islands.
                On May 24, 1839, Governor-General Luis Lardizabal, upon the advice of the Alcalde Mayor of Cagayan, issued an order making Nueva Vizcaya a separate politico-military province.  The King of Spain through a royal decree approved the order on April 10, 1841.  Governor Pedro Menchaca was the first appointed politico-military governor of the new province.  However, the Spanish sovereignty ceased upon the arrival of the Philippine revolutionary forces in Bayombong on August 1898.</p>
        </div>

        <div class="row content">
            <div class="col-md-5 aos-init aos-animate" data-aos="fade-right">
                <img src="~/assets/img/work-process-1.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-4 aos-init aos-animate" data-aos="fade-left">
                <h3>Provincial Vision</h3>
                <p class="">
                   Nueva Vizcaya, A watershed haven where spiritually, Socially, Politically, Culturally and Economically Empowered People Live in Peace and Prosperity
                </p>
       
            </div>
        </div>

        <div class="row content">
            <div class="col-md-5 order-1 order-md-2 aos-init" data-aos="fade-left">
                <img src="~/assets/img/work-process-2.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1 aos-init" data-aos="fade-right">
                <h3>   Ethnic Origin Of The People</h3>
                <p class="font-italic">
                 
                </p>
                <p>
                    Our ancestors and the first inhabitants of Nueva Vizcaya includes: the Ayangans, Kalanguyas, Isinais, Gaddangs, Bugkalots and Iwaks. More than 25,000 years ago, they built a civilization based on agriculture and the main political unit, the Barangay.(Teich, 2019).

                    In 1839, Nueva Vizcaya was created as a province. Endowed with rich natural resources, particularly in agriculture, the province attracts numerous tribes from other regions in the country. The first wave of migrants, the Ilocanos, started to arrive from 1850s to 1930s.  The migrants from Cordilleras on the other hand started to arrive in the province in year 1950. Other migrants who form big portion of the population are the Ilocanos, Tagalogs, Pangasinenses, Kapampangans , Ifugaos and others.
                </p>
            </div>
        </div>


    </div>
</section>
