
@{
    ViewBag.Title = "Political Officials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="work-process" class="work-process">
    <div class="container">

        <div class="section-title aos-init aos-animate" data-aos="fade-up">
            <h2>Political Officials</h2>
            <p>
                Show the chronology of elected and appointed officials for the positions of Congressman/Assemblyman/Representative, Governor and Vice Governor and their corresponding terms of office.
                The lone Legislative District of Nueva Vizcaya is the representation of
                the Province  of Nueva Vizcaya in the
                Philipine House of Representatives. Nueva Vizcaya was first represented in the
                Philippine Assembly in 1916, which included the present-day Quirino Province in
                1972. From 1978 to 1984, it was part of the representation of Region II and since
                1984, it has been represented on its own.
            </p>
        </div>

        <div class="row content">

            <div class="col-md-12 pt-4 aos-init aos-animate" data-aos="fade-left">
                <h3>Congressman(kongresista)</h3>
                <p class="">
                    <table id="tablepress-16" class="tablepress tablepress-id-16 dataTable no-footer" style="height: 489px;" role="grid" width="100%" aria-describedby="tablepress-16_info">
                        <thead>
                            <tr class="row-1 odd" role="row">
                                <th class="column-1 sorting" style="width: 40%;" tabindex="0" colspan="1" rowspan="1" aria-controls="tablepress-16" aria-label="Name: activate to sort column ascending"><strong>Name</strong></th>
                                <th class="column-2 sorting_desc" style="        width: 60%;" tabindex="0" colspan="1" rowspan="1" aria-controls="tablepress-16" aria-label="Period: activate to sort column ascending" aria-sort="descending"><strong>Period</strong></th>
                            </tr>
                        </thead>
                        <tbody class="row-hover">
                            <tr class="row-20 even" role="row">
                                <td class="column-1" style="width: 248px;">LUISA LLOREN CUARESMA</td>
                                <td class="column-2" style="width: 440px;">2016 &ndash; Present (Elected)</td>
                            </tr>
                            <tr class="row-19 odd" role="row">
                                <td class="column-1" style="width: 248px;">CARLOS M. PADILLA</td>
                                <td class="column-2" style="width: 440px;">2007 &ndash; 2016 (Elected)</td>
                            </tr>
                            <tr class="row-18 even" role="row">
                                <td class="column-1" style="width: 248px;">RODOLFO Q. AGBAYANI</td>
                                <td class="column-2" style="width: 440px;">2004 &ndash; 2007 (Elected)</td>
                            </tr>
                            <tr class="row-17 odd" role="row">
                                <td class="column-1" style="width: 248px;">LEONARDO B. PEREZ</td>
                                <td class="column-2" style="width: 440px;">1992-1995 (Elected)</td>
                            </tr>
                            <tr class="row-16 even" role="row">
                                <td class="column-1" style="width: 248px;">CARLOS M. PADILLA</td>
                                <td class="column-2" style="width: 440px;">1988-1992 (Elected)</td>
                            </tr>
                            <tr class="row-15 odd" role="row">
                                <td class="column-1" style="width: 248px;">LEONARDO B. PEREZ</td>
                                <td class="column-2" style="width: 440px;">1984-1986 (Elected)</td>
                            </tr>
                            <tr class="row-14 even" role="row">
                                <td class="column-1" style="width: 248px;">CARLOS M. PADILLA</td>
                                <td class="column-2" style="width: 440px;">1978-1984(Elected Assemblyman Region Wide)</td>
                            </tr>
                            <tr class="row-13 odd" role="row">
                                <td class="column-1" style="width: 248px;">BENJAMIN PEREZ</td>
                                <td class="column-2" style="width: 440px;">1970 (Elected)</td>
                            </tr>
                            <tr class="row-12 even" role="row">
                                <td class="column-1" style="width: 248px;">LEONARDO B. PEREZ</td>
                                <td class="column-2" style="width: 440px;">1953-1965 (Elected)</td>
                            </tr>
                            <tr class="row-11 odd" role="row">
                                <td class="column-1" style="width: 248px;">LEON CABARROGUIS</td>
                                <td class="column-2" style="width: 440px;">1945 (Elected)</td>
                            </tr>
                            <tr class="row-10 even" role="row">
                                <td class="column-1" style="width: 248px;">GUILLERMO BONGOLAN</td>
                                <td class="column-2" style="width: 440px;">1938- 1941</td>
                            </tr>
                            <tr class="row-9 odd" role="row">
                                <td class="column-1" style="width: 248px;">BERNARDO BUENAFE</td>
                                <td class="column-2" style="width: 440px;">1935- 1938</td>
                            </tr>
                            <tr class="row-8 even" role="row">
                                <td class="column-1" style="width: 248px;">SEVERINO PURUNGGANAN</td>
                                <td class="column-2" style="width: 440px;">1934-1935</td>
                            </tr>
                            <tr class="row-7 odd" role="row">
                                <td class="column-1" style="width: 248px;">DOMINGO MADDELA</td>
                                <td class="column-2" style="width: 440px;">1931-1934</td>
                            </tr>
                            <tr class="row-6 even" role="row">
                                <td class="column-1" style="width: 248px;">MANUEL NIETO</td>
                                <td class="column-2" style="width: 440px;">1928-1931</td>
                            </tr>
                            <tr class="row-5 odd" role="row">
                                <td class="column-1" style="width: 248px;">ANTONIO G. ESCAMILLA</td>
                                <td class="column-2" style="width: 440px;">1925-1928</td>
                            </tr>
                            <tr class="row-4 even" role="row">
                                <td class="column-1" style="width: 248px;">EULOGIO RODRIGUEZ</td>
                                <td class="column-2" style="width: 440px;">1922-1925</td>
                            </tr>
                            <tr class="row-3 odd" role="row">
                                <td class="column-1" style="width: 248px;">EVARISTO PANGANIBAN</td>
                                <td class="column-2" style="width: 440px;">1919-1922</td>
                            </tr>
                            <tr class="row-2 even" role="row">
                                <td class="column-1" style="width: 248px;">WENCESLAO VALERA</td>
                                <td class="column-2" style="width: 440px;">1916-1919</td>
                            </tr>
                        </tbody>
                    </table>
                </p>

            </div>
        </div>

        <div class="row content">

            <div class="col-md-12 pt-5 order-2 order-md-1 aos-init" data-aos="fade-right">
                <h3>Governor</h3>
                <p class="">
                    <table id="tablepress-17" class="tablepress tablepress-id-17 dataTable no-footer" style="width: 100%;" role="grid" aria-describedby="tablepress-17_info">
                        <thead>
                            <tr class="row-1 odd" role="row">
                                <th class="column-1 sorting" style="width: 190px;" tabindex="0" colspan="1" rowspan="1" aria-controls="tablepress-17" aria-label="Name: activate to sort column ascending"><strong>Name</strong></th>
                                <th class="column-2 sorting_desc" style="width: 459px;" tabindex="0" colspan="1" rowspan="1" aria-controls="tablepress-17" aria-label="Period: activate to sort column ascending" aria-sort="descending"><strong>Period</strong></th>
                            </tr>
                        </thead>
                        <tbody class="row-hover">
                            <tr class="row-4 even" role="row">
                                <td class="column-1" style="width: 190px;">DOMINGO MADDELA</td>
                                <td class="column-2" style="width: 459px;">October 1920-June 1922 (Appointed)</td>
                            </tr>
                            <tr class="row-2 odd" role="row">
                                <td class="column-1" style="width: 190px;">TOMAS P. MADDELA, SR.</td>
                                <td class="column-2" style="width: 459px;">November 1917-April 1918 (Acting)</td>
                            </tr>
                            <tr class="row-23 even" role="row">
                                <td class="column-1" style="width: 190px;">NATALIA F. DUMLAO</td>
                                <td class="column-2" style="width: 459px;">March 23,1980- April 2,1986 (Elected)</td>
                            </tr>
                            <tr class="row-9 odd" role="row">
                                <td class="column-1" style="width: 190px;">LEON CABARROGUIS</td>
                                <td class="column-2" style="width: 459px;">June 1934-December 1937(Elected)</td>
                            </tr>
                            <tr class="row-8 even" role="row">
                                <td class="column-1" style="width: 190px;">LEON CABARROGUIS</td>
                                <td class="column-2" style="width: 459px;">June 1931-June 1934 (Elected)</td>
                            </tr>
                            <tr class="row-7 odd" role="row">
                                <td class="column-1" style="width: 190px;">JUAN A. MANZANO</td>
                                <td class="column-2" style="width: 459px;">June 1928 &ndash;June 1931(Elected)</td>
                            </tr>
                            <tr class="row-6 even" role="row">
                                <td class="column-1" style="width: 190px;">ALFONSO CASTA&Ntilde;EDA</td>
                                <td class="column-2" style="width: 459px;">June 1925 &ndash;June 1928 (Elected)</td>
                            </tr>
                            <tr class="row-5 odd" role="row">
                                <td class="column-1" style="width: 190px;">DOMINGO MADDELA</td>
                                <td class="column-2" style="width: 459px;">June 1922-June 1925 (Elected)</td>
                            </tr>
                            <tr class="row-26 even" role="row">
                                <td class="column-1" style="width: 190px;">PATRICIO G. DUMLAO</td>
                                <td class="column-2" style="width: 459px;">July 1,1992-August 31,1992</td>
                            </tr>
                            <tr class="row-20 odd" role="row">
                                <td class="column-1" style="width: 190px;">PATRICIO G. DUMLAO, SR.</td>
                                <td class="column-2" style="width: 459px;">January 1963 &ndash; 1976 (Elected)</td>
                            </tr>
                            <tr class="row-11 even" role="row">
                                <td class="column-1" style="width: 190px;">DEMETRIO QUIRINO, SR.</td>
                                <td class="column-2" style="width: 459px;">January 1940-1945 (Elected)</td>
                            </tr>
                            <tr class="row-10 odd" role="row">
                                <td class="column-1" style="width: 190px;">TOMAS P.MADDELA, SR.</td>
                                <td class="column-2" style="width: 459px;">January 1938-December 1940 (Elected)</td>
                            </tr>
                            <tr class="row-25 even" role="row">
                                <td class="column-1" style="width: 190px;">PATRICIO G. DUMLAO</td>
                                <td class="column-2" style="width: 459px;">February 3,1988-June 30,1992 (Elected)</td>
                            </tr>
                            <tr class="row-24 odd" role="row">
                                <td class="column-1" style="width: 190px;">RUTH R. PADILLA</td>
                                <td class="column-2" style="width: 459px;">December 1987-February 2, 1988 (Appointed)</td>
                            </tr>
                            <tr class="row-3 even" role="row">
                                <td class="column-1" style="width: 190px;">LOPE K. SANTOS</td>
                                <td class="column-2" style="width: 459px;">April 1918-September 1920 (Appointed)</td>
                            </tr>
                            <tr class="row-30 odd" role="row">
                                <td class="column-1" style="width: 190px;">CARLOS M. PADILLA</td>
                                <td class="column-2" style="width: 459px;">2016-Present (Elected)</td>
                            </tr>
                            <tr class="row-29 even" role="row">
                                <td class="column-1" style="width: 190px;">RUTH R. PADILLA</td>
                                <td class="column-2" style="width: 459px;">2013-2016 (Elected)</td>
                            </tr>
                            <tr class="row-28 odd" role="row">
                                <td class="column-1" style="width: 190px;">LUISA LLOREN CUARESMA</td>
                                <td class="column-2" style="width: 459px;">2004-2013 (Elected)</td>
                            </tr>
                            <tr class="row-27 even" role="row">
                                <td class="column-1" style="width: 190px;">RODOLFO Q. AGBAYANI</td>
                                <td class="column-2" style="width: 459px;">1992-2004 (Elected)</td>
                            </tr>
                            <tr class="row-22 odd" role="row">
                                <td class="column-1" style="width: 190px;">OSIAS D. CADIENTE</td>
                                <td class="column-2" style="width: 459px;">1976-March 22, 1980 (Apoointed)</td>
                            </tr>
                            <tr class="row-21 even" role="row">
                                <td class="column-1" style="width: 190px;">BELEN F. CALDERON</td>
                                <td class="column-2" style="width: 459px;">1976 (Appointed)</td>
                            </tr>
                            <tr class="row-19 odd" role="row">
                                <td class="column-1" style="width: 190px;">CORAZON M. ESPINO</td>
                                <td class="column-2" style="width: 459px;">1962(Appointed)</td>
                            </tr>
                            <tr class="row-18 even" role="row">
                                <td class="column-1" style="width: 190px;">JOSE G. ESPINO</td>
                                <td class="column-2" style="width: 459px;">1960-1962 (Elected)</td>
                            </tr>
                            <tr class="row-17 odd" role="row">
                                <td class="column-1" style="width: 190px;">JOSE G. ESPINO</td>
                                <td class="column-2" style="width: 459px;">1955-1959(Elected)</td>
                            </tr>
                            <tr class="row-16 even" role="row">
                                <td class="column-1" style="width: 190px;">JOSE A. MADARANG</td>
                                <td class="column-2" style="width: 459px;">1952-1955 (Elected)</td>
                            </tr>
                            <tr class="row-15 odd" role="row">
                                <td class="column-1" style="width: 190px;">MANOLO MADDELA</td>
                                <td class="column-2" style="width: 459px;">1949-1951 (Appointed)</td>
                            </tr>
                            <tr class="row-14 even" role="row">
                                <td class="column-1" style="width: 190px;">JOSE MADARANG</td>
                                <td class="column-2" style="width: 459px;">1947-1948(Elected)</td>
                            </tr>
                            <tr class="row-13 odd" role="row">
                                <td class="column-1" style="width: 190px;">JOSE MADARANG</td>
                                <td class="column-2" style="width: 459px;">1946(Appointed)</td>
                            </tr>
                            <tr class="row-12 even" role="row">
                                <td class="column-1" style="width: 190px;">MARTIN LOPEZ</td>
                                <td class="column-2" style="width: 459px;">1945 -1946 (Appointed)</td>
                            </tr>
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
        <div class="row content">

            <div class="col-md-12 pt-5 order-2 order-md-1 aos-init" data-aos="fade-right">
                <h3>Vice Governor</h3>
                <p class="">
                    <table id="tablepress-18" class="tablepress tablepress-id-18 dataTable no-footer" style=" width: 100%;" role="grid" aria-describedby="tablepress-18_info">
                        <thead>
                            <tr class="row-1 odd" role="row">
                                <th class="column-1 sorting" style="width: 199px;" tabindex="0" colspan="1" rowspan="1" aria-controls="tablepress-18" aria-label="Name: activate to sort column ascending"><strong>Name</strong></th>
                                <th class="column-2 sorting_desc" style="width: 477px;" tabindex="0" colspan="1" rowspan="1" aria-controls="tablepress-18" aria-label="Period: activate to sort column ascending" aria-sort="descending"><strong>Period</strong></th>
                            </tr>
                        </thead>
                        <tbody class="row-hover">
                            <tr class="row-15 even" role="row">
                                <td class="column-1" style="width: 199px;">HON. JOSE D. TOMAS, SR.</td>
                                <td class="column-2" style="width: 477px;">July 2019-Present</td>
                            </tr>
                            <tr class="row-14 odd" role="row">
                                <td class="column-1" style="width: 199px;">EPIFANIO LD. GALIMA</td>
                                <td class="column-2" style="width: 477px;">July 2013-June 2019</td>
                            </tr>
                            <tr class="row-13 even" role="row">
                                <td class="column-1" style="width: 199px;">JOSE V. GAMBITO</td>
                                <td class="column-2" style="width: 477px;">July 2004-June 2013</td>
                            </tr>
                            <tr class="row-12 odd" role="row">
                                <td class="column-1" style="width: 199px;">LUISA LLOREN CUARESMA</td>
                                <td class="column-2" style="width: 477px;">July 1998-June 2004</td>
                            </tr>
                            <tr class="row-11 even" role="row">
                                <td class="column-1" style="width: 199px;">NATALIA F. DUMLAO</td>
                                <td class="column-2" style="width: 477px;">July 1995-June 1998</td>
                            </tr>
                            <tr class="row-9 odd" role="row">
                                <td class="column-1" style="width: 199px;">RODOLFO Q. AGBAYANI</td>
                                <td class="column-2" style="width: 477px;">July 1992-August 1992</td>
                            </tr>
                            <tr class="row-8 even" role="row">
                                <td class="column-1" style="width: 199px;">ALEJANDRO SILAPAN</td>
                                <td class="column-2" style="width: 477px;">Feb 1988-June 1992</td>
                            </tr>
                            <tr class="row-7 odd" role="row">
                                <td class="column-1" style="width: 199px;">MANUEL AQUINO</td>
                                <td class="column-2" style="width: 477px;">Dec 1987-Feb 1988</td>
                            </tr>
                            <tr class="row-10 even" role="row">
                                <td class="column-1" style="width: 199px;">ROGELIO P. CORPUZ</td>
                                <td class="column-2" style="width: 477px;">August 1992-June 1995</td>
                            </tr>
                            <tr class="row-6 odd" role="row">
                                <td class="column-1" style="width: 199px;">RUTH R. PADILLA</td>
                                <td class="column-2" style="width: 477px;">April 1986-Nov 1987</td>
                            </tr>
                            <tr class="row-2 even" role="row">
                                <td class="column-1" style="width: 199px;">CASTILLO B. TIDANG, SR.</td>
                                <td class="column-2" style="width: 477px;">&nbsp;</td>
                            </tr>
                            <tr class="row-3 odd" role="row">
                                <td class="column-1" style="width: 199px;">GUILLERMO ABAN</td>
                                <td class="column-2" style="width: 477px;">&nbsp;</td>
                            </tr>
                            <tr class="row-4 even" role="row">
                                <td class="column-1" style="width: 199px;">LUIS BERNABE</td>
                                <td class="column-2" style="width: 477px;">&nbsp;</td>
                            </tr>
                            <tr class="row-5 odd" role="row">
                                <td class="column-1" style="width: 199px;">GLORIA EUROPA</td>
                            </tr>
                        </tbody>
                    </table>
                <p>&nbsp;</p>
                </p>
            </div>
        </div>

    </div>
</section>
