<section id="services" class="services  section-bg ">
    <div class="container">

        <div class="section-title pt-5" data-aos="fade-up">
            <h2>Covid 19 Updates</h2>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="icon-box" data-aos="fade-up">
                    <div class="icon">
                        <i class="fa fa-calendar" style="color: #ff689b;"></i>
                    </div>
                    <h4 class="title">
                        <a href="">Covid-19 Monitoring Updates | Data from 12 Noon of September 25 to 12 Noon of September 26 </a>
                    </h4>
                    <p class="description">
                        🚨 SOURCE OF DATA: DEPARTMENT OF HEALTH REGION 2
                        🚨 Report may vary from DOH Tally due to delay in transmission of data from the region.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="icon-box" data-aos="fade-up">
                    <div class="icon">
                        <i class="fa fa-calendar" style="color: #ff689b;"></i>
                    </div>
                    <h4 class="title">
                        <a href="">Covid-19 Monitoring Updates | Data from 12 Noon of September 25 to 12 Noon of September 26 </a>
                    </h4>
                    <p class="description">
                        🚨 SOURCE OF DATA: DEPARTMENT OF HEALTH REGION 2
                        🚨 Report may vary from DOH Tally due to delay in transmission of data from the region.
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="icon-box" data-aos="fade-up">
                    <div class="icon">
                        <i class="fa fa-calendar" style="color: #ff689b;"></i>
                    </div>
                    <h4 class="title">
                        <a href="">Covid-19 Monitoring Updates | Data from 12 Noon of September 25 to 12 Noon of September 26 </a>
                    </h4>
                    <p class="description">
                        🚨 SOURCE OF DATA: DEPARTMENT OF HEALTH REGION 2
                        🚨 Report may vary from DOH Tally due to delay in transmission of data from the region.
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="icon-box" data-aos="fade-up">
                    <div class="icon">
                        <i class="fa fa-calendar" style="color: #ff689b;"></i>
                    </div>
                    <h4 class="title">
                        <a href="">Covid-19 Monitoring Updates | Data from 12 Noon of September 25 to 12 Noon of September 26 </a>
                    </h4>
                    <p class="description">
                        🚨 SOURCE OF DATA: DEPARTMENT OF HEALTH REGION 2
                        🚨 Report may vary from DOH Tally due to delay in transmission of data from the region.
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="icon-box" data-aos="fade-up">
                    <div class="icon"><i class="fa fa-calendar" style="color: #ff689b;"></i></div>
                    <h4 class="title"><a href="">Covid-19 Monitoring Updates | Data from 12 Noon of September 25 to 12 Noon of September 26 </a></h4>
                    <p class="description">
                        🚨 SOURCE OF DATA: DEPARTMENT OF HEALTH REGION 2
                        🚨 Report may vary from DOH Tally due to delay in transmission of data from the region.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="icon-box" data-aos="fade-up">
                    <div class="icon"><i class="fa fa-calendar" style="color: #ff689b;"></i></div>
                    <h4 class="title"><a href="">Covid-19 Monitoring Updates | Data from 12 Noon of September 25 to 12 Noon of September 26 </a></h4>
                    <p class="description">
                        🚨 SOURCE OF DATA: DEPARTMENT OF HEALTH REGION 2
                        🚨 Report may vary from DOH Tally due to delay in transmission of data from the region.
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>