<section id="services" class="services  section-bg ">
    <div class="container">

        <div class="section-title pt-5" data-aos="fade-up">
            <h2>Covid 19 Updates</h2>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="icon-box" data-aos="fade-up">
                    <div class="icon">
                        <i class="fa fa-calendar" style="color: #ff689b;"></i>
                    </div>
                    <h4 class="title">
                        <a href="">Covid-19 Monitoring Update  </a>
                    </h4>
                    <p class="description">
                        According to Dr. Edwin Galapon, there were no reported cases from 12 noon of October 12 to 12 noon of October 13, 2020.
                    </p>
                    <p class="description">
                        Sa patuloy na pagbaba ng mga kaso ng covid-19 sa ating probinsya, mas lalo po nating paigtingin ang pagsunod sa mga minimum health standards. Disiplina at pagtutulungan ang kailangan upang covid-19 ay tuluyan na nating mapagtagumpayan 👊
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="icon-box" data-aos="fade-up">
                    <div class="icon">
                        <i class="fa fa-calendar" style="color: #ff689b;"></i>
                    </div>
                    <h4 class="title">
                        <a href=""> Covid-19 Monitoring Updates | 👉 Data from 12 Noon of October 9 to 12 Noon of October 11, 2020 </a>
                    </h4>
                    <p class="description">
                      
                        🚨 SOURCE OF DATA: DEPARTMENT OF HEALTH REGION 2
                        🚨 Report may vary from DOH Tally due to delay in transmission of data from the region.

                        From the information provided by the Regional Epidemiology and Surveillance Unit to Dr. Edwin Galapon, the province registers three (3) new cases and eleven (11) recoveries.
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="icon-box" data-aos="fade-up">
                    <div class="icon">
                        <i class="fa fa-calendar" style="color: #ff689b;"></i>
                    </div>
                    <h4 class="title">
                        <a href="">Covid-19 Monitoring Updates | Data from 12 Noon of October 7 to 12 Noon of October 9, 2020</a>
                    </h4>
                    <p class="description">
                        🚨 SOURCE OF DATA: DEPARTMENT OF HEALTH REGION 2
                        🚨 Report may vary from DOH Tally due to delay in transmission of data from the region.
                    </p>
                    <p class="description">
                        From the information provided by the Regional Epidemiology and Surveillance Unit to Dr. Edwin Galapon, the province registers three (3) new cases and thirty-four (34) recoveries.
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="icon-box" data-aos="fade-up">
                    <div class="icon">
                        <i class="fa fa-calendar" style="color: #ff689b;"></i>
                    </div>
                    <h4 class="title">
                        <a href="">Covid-19 Monitoring Updates | Data from 12 Noon of October 5 to 12 Noon of October 7, 2020 </a>
                    </h4>
                    <p class="description">
                        🚨 SOURCE OF DATA: DEPARTMENT OF HEALTH REGION 2
                        🚨 Report may vary from DOH Tally due to delay in transmission of data from the region.

                        From the information provided by the Regional Epidemiology and Surveillance Unit to Dr. Edwin Galapon, the province registers one (1) new case and ten (10) recoveries.

                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="icon-box" data-aos="fade-up">
                    <div class="icon"><i class="fa fa-calendar" style="color: #ff689b;"></i></div>
                    <h4 class="title"><a href="">Covid-19 Monitoring Updates | Data from 12 Noon of October 4 to 12 Noon of October 5, 2020
                    </a></h4>
                    <p class="description">
                        🚨 SOURCE OF DATA: DEPARTMENT OF HEALTH REGION 2
                        🚨 Report may vary from DOH Tally due to delay in transmission of data from the region.

                        From the information provided by the Regional Epidemiology and Surveillance Unit to Dr. Edwin Galapon, the province registers four (4) new cases and twenty-one (21) recoveries.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="icon-box" data-aos="fade-up">
                    <div class="icon"><i class="fa fa-calendar" style="color: #ff689b;"></i></div>
                    <h4 class="title"><a href="">Covid-19 Monitoring Updates | Data from 12 Noon of September 25 to 12 Noon of September 26 </a></h4>
                    <p class="description">
                        🚨 SOURCE OF DATA: DEPARTMENT OF HEALTH REGION 2
                        🚨 Report may vary from DOH Tally due to delay in transmission of data from the region.
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>